<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var staff = {
        "role": "admin",
        "status": "đang hoạt động",
        "User": {
            "email": "huynhphung2107@gmail.com",
            "account": "admin",
            "fullName": "Phùng Văn Huỳnh",
            "password": "123123",
            "phone": "0354903402",
            "gender": true
        }
    };
    //xuat doi tuong
    console.log(staff)
    //
    // //truy xuat thuoc tinh
    // staff.role=staff['role'].toUpperCase();
    //
    // console.log(
    //     "Role:"+ staff.role,
    //     "TaiKhoan:" +staff.User.account,
    //     "MatKhau:" +staff.User.password);

    //duyet doi tuong theo key ( "key" :"value")

    for (var key in staff) {
        console.log(key, staff[key])
    }

    //chuyen doi doi tuong json sang chuoi

    var text = JSON.stringify(staff);
    console.log(text);

    //chuyen doi chuoi sang doi tuong json
    var obj = JSON.parse(text);
    console.log(obj, obj.role)

</script>
</body>
</html>